<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1b
# *Data Cleaning with Pandas*

In this lab we work with a file that has messy column names and a combination of missing and invalid data to be cleaned.

To start with load `rock.csv` into a dataframe.

In [38]:
# ANSWER
import pandas as pd
file_path = 'rock.csv'
df = pd.read_csv(file_path)

### Check Column Names

Check column names and clean by converting all names to lowercase, replacing spaces with underscores (`_`) and removing question marks or asterisk (`*`) characters.

In [6]:
# ANSWER
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('?', '').str.replace('*', '')
print("Cleaned column names:", df.columns)

Cleaned column names: Index(['song_clean', 'artist_clean', 'release_year', 'combined', 'first',
       'year', 'playcount', 'fg'],
      dtype='object')

### Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [8]:
# ANSWER
df.fillna(0, inplace=True)
print(df.head())

               song_clean artist_clean release_year  \
0        Caught Up in You  .38 Special         1982
1            Fantasy Girl  .38 Special            0
2         Hold On Loosely  .38 Special         1981
3  Rockin' Into the Night  .38 Special         1980
4       Art For Arts Sake         10cc         1975

                                combined  first  year  playcount  fg
0        Caught Up in You by .38 Special      1     1         82  82
1            Fantasy Girl by .38 Special      1     0          3   0
2         Hold On Loosely by .38 Special      1     1         85  85
3  Rockin' Into the Night by .38 Special      1     1         18  18
4              Art For Arts Sake by 10cc      1     1          1   1

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [10]:
# ANSWER
for column in df.columns:
    if df[column].dtype == 'object':
        try:
            # Attempt to convert the column to integers
            df[column] = df[column].astype(int)
        except ValueError:
            # If conversion fails, the column contains non-integer values
            pass

# Check the datatypes after conversion
print("Data types after conversion:\n", df.dtypes)

Data types after conversion:
 song_clean      object
artist_clean    object
release_year    object
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

In [12]:
df = df.apply(pd.to_numeric, errors='coerce')

In [13]:
# ANSWER
min_max_valuesz = df.agg(['min', 'max'])
print("Minimum and Maximum values for each column:\n", min_max_values)

Minimum and Maximum values for each column:
      song_clean  artist_clean  release_year  combined  first  year  playcount  \
min        45.0           NaN           0.0       NaN      1     0          0
max      1979.0           NaN        2014.0       NaN      1     1        142

      fg
min    0
max  142

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [40]:


def check_release_date(row):
    print(f"Song: {row['song']}, Artist: {row['artist']}, Before 1970: {row['release_date'] < 1970}")

In [54]:
data = {'song': ['Song1', 'Song2', 'Song3'],
        'artist': ['Artist1', 'Artist2', 'Artist3'],
        'release_date': [1965, 1975, 1969]}

In [56]:
df.apply(check_release_date, axis=1)

Song: Song1, Artist: Artist1, Before 1970: True
Song: Song2, Artist: Artist2, Before 1970: False
Song: Song3, Artist: Artist3, Before 1970: True

0    None
1    None
2    None
dtype: object

## Write Some Functions
### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

In [58]:
# ANSWER
def convert_to_numeric(df, column_name):
    df[column_name] = pd.to_numeric(df[column_name], errors='coerce')

In [62]:
convert_to_numeric(df, 'release_date')
print(df)

    song   artist  release_date
0  Song1  Artist1          1965
1  Song2  Artist2          1975
2  Song3  Artist3          1969

### Apply this last function to your dataset

In [66]:
# ANSWER
df.apply

<bound method DataFrame.apply of     song   artist  release_date
0  Song1  Artist1          1965
1  Song2  Artist2          1975
2  Song3  Artist3          1969>

### 'Describe' the new DataFrame

In [64]:
# ANSWER
description = df.describe()

print(description)

       release_date
count      3.000000
mean    1969.666667
std        5.033223
min     1965.000000
25%     1967.000000
50%     1969.000000
75%     1972.000000
max     1975.000000

>



---



---



> > > > > > > > > © 2024 Institute of Data


---



---